#dark-overlay{
    position:absolute;
    top:0px;
    left:0px;
    background:rgb(0,0,0,0.6);
    width:100%;
    height:100vh;
    justify-content:center;
    align-items:center;
    display:none;
}
#edit-form{
    background:white;
    width:30%;
}

table {
    width: 100%;
}

table tbody {
    display: block;
    width: 100%;
    overflow-y: scroll;
    height: 80vh;
}
tr{
    display:flex;
}
td,th{
    width:100%;
}