{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<main class="row mx-4">
  <h3>Most popular activities this month</h3>
  <div class="col">
    <ol>
      {% for item in most_popular%}
        <li class="activity-name" data-times={{item[1]}}>{{item[0]}} - {{item[2]}}</li>
      {% endfor %}
    </ol>
  </div>
  <div class="col" style="max-height:80vh;display:flex;justify-content:center;">
    <canvas id="monthChart"></canvas>
  </div>
</main>
<script src="{{url_for('static', filename='month.js')}}"></script>
{% endblock %}