{% extends "base.html" %}

{% block title %}Today{% endblock %}

{% block content %}
<main class="mx-4 row">
  <h3 class="mb-4">Date: </h3>
  <div class="col">
    <table class="table table-dark table-striped">
      <thead>
        <tr class="table-primary">
          <th scope="col">Start</th>
          <th scope="col">End</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for key, value in day.items() %}
          <tr>
            <th scope="row">{{value.start}}</th>
            <td>{{value.end}}</td>
            <td>{{value.text}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col">a</div>
</main>
{% endblock %}