{% extends "base.html" %}

{% block title %}Today{% endblock %}

{% block content %}
<main class="mx-4 row" onload="loadDayChart();">
  {% if error %}
    <p>{{error}}</p>
  {% else %}
    <h3 class="mb-4">Date: </h3>
    <div class="col" >
      <table class="table table-dark table-striped table-hover" >
        <thead>
          <tr class="table-primary">
            <th scope="col">Start</th>
            <th scope="col">End</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for key, value in day.items() %}
            <tr onclick="editField()">
              <td scope="row">{{value.start}}</td>
              <td>{{value.end}}</td>
              <th>{{value.text}}</th>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col">
      <canvas id="dayChart"></canvas>
    </div>
  {% endif %}
</main>
{% endblock %}