{% extends "base.html" %}

{% block title %}Week{% endblock %}

{% block content %}
<main class="mx-4 row">
  <h3 class="mb-4">Last week activities</h3>
  <div class="row">
    {% for key, value in week.items() %}
      <div class="col border custom-link">
        <a class="custom-link" href="/date/{{key[0]}}" style="color:black;font-size:20px;font-weight:bold;text-decoration:none;">{{key[1]}}</a>
        <ul class="text-sm">
          {% for item in value%}
            <li><small>{{item}}</small></li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
  <div class="row">
    <h3>Most popular activities last week</h3>
    <div class="col">
      <ol>
        {% for item in most_popular%}
          <li class="activity-name">{{item[0]}} - {{item[1]}}</li>
        {% endfor %}
      </ol>
    </div>
    <div class="col" style="max-height:70vh;display:flex;justify-content:center;">
      <canvas id="weekChart"></canvas>
    </div>
  </div>
</main>
<script src="{{url_for('static', filename='week.js')}}"></script>
{% endblock %}